.table1{
    margin-left: 50px;
    margin-top: 50px;
}

.h11{
    margin-left: 200px;
}
.a5{
    font-size: 30px;
}

.p12{
    margin-top: 150px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans';
    position: absolute;
}